body {
 text-align: center;
 font-family: Helvetica;
}

input {
  font-family: Helvetica;
  font-size: 12pt;
}

td {
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30pt;
}

table {
  width: 600px;
  height: 600px; 
  table-layout: fixed; 
  margin: auto; 
}

td a { 
  display: block; 
  width: 100%; 
  height: 100%;
}

.status {
  font-size: 20pt;
}

.cell {
  float: left;
  width: 25%;
  text-align: left;
}

div#grid {
  content: "";
  display: table;
  clear: both;
  width: 600px;
  margin: auto;
}

